# Python cache and bytecode
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
env/
venv/

# Environment configuration files
.env
*.env

# Data files
*.csv
*.tsv

*.json
*.zip
*.gz
*.h5
*.pkl
*.sav
*.joblib
*.npy
*.npz

# Model outputs
*.pt
*.pth
*.hdf5
*.onnx

# Logs and outputs
*.log
*.out


